body{
    box-sizing: border-box;
    margin: 0px;
   
}
#first{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url('./istockphoto-1917163975-170667a.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

#formDiv{
    width: 50%;
}

#formDiv> form{
    width: 50%;
}
form>input{
    margin: 20px;
    width: 30%;
    height: 30px;
}